In [4]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

import pandas as pd

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [2]:
# Q3. Create a Pandas DataFrame that contains the following data:

import pandas as pd

data = { 'name' : [ 'Alice', 'Bob', 'Claire' ],
         'age' :[ 25, 30, 27 ],
         'gender' : [ 'Female', 'Male', 'Femaile' ] }
        
df = pd.DataFrame(data)
print(df)

     name  age   gender
0   Alice   25   Female
1     Bob   30     Male
2  Claire   27  Femaile

In [2]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

# DataFrame is a two-dimensional data structure that consists of rows and columns where we can store different datatypes such as
# numeric, string, boolean, etc.
# Series is a one-dimensional datastucture that can hold data of any type almost similar to Dataframes.

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]} #Creating a DataFrame
df = pd.DataFrame(data)

ages = pd.Series([25, 30, 35]) # Creating a Series

print(df)
print(ages)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
0    25
1    30
2    35
dtype: int64

In [3]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

# head() ----- df.head(), df.head(3)
# tail() ----- df.tail(), df.tail(3)
# describe() - df.describe()

In [4]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

# Series and DataFrame are the ones that are mutable in nature.

In [5]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

import pandas as pd

# Creating Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'London', 'Paris'])

# Creating DataFrame using multiple Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})

# Printing the DataFrame
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris